html {
  animation-duration: 3s;
  animation-name: slidein;

  background:radial-gradient(#fdffbc, #ffeebb, #ffdcb8, #ffc1b6);

  background-size: contain;
  font-size: 25px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0;
    width: 100%;
  }
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15%;
}

h1 {
  color: #03506f;
  font-family: cursive;
  font-size: 70px;
  text-shadow: 4px 4px 2px grey;

}

h3 {
  color: #312c51;
  font-family: "Brush Script MT";
  font-size: 50px;
  text-shadow: 3px 3px 1.5px #fdbaf8;
  text-align: center;

}
img {

  height: 400px;
  width: 300px;

}
table{
  align-items: center;
  align-content: center;
  align-self: center;
  text-align:center;


}
ol{
  list-style-position: inside;
}
ul{
  list-style-position: inside;
}

a:hover {
  font-size: 120%;
}
img:hover{
  border-color: grey;
  border-style: outset;
}
h3:hover {
  color: #ec4646;
}
table:hover {
  column-rule-style: solid;

  color: #02475e;

}
@page {
  size: A4, Portrait;
}
.redirect{
  background: #f8dc81;
}
.fantasy{
  font-family: copperplate;

}
.profilepic{
  box-shadow: 10px 10px 5px grey
}
.bio{
  font-family: copperplate;
}
.center{
  margin-right: auto;
  margin-left: auto;
}
