html {
  background: linear-gradient(45deg, #f8a488, #5aa897);
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 15%;
}

h1 {
  color: #4b778d;
  font-size: 100px
}

h3 {
  color: #845460;
  font-size: 70px;
}
a {
  font-size: 20px
}
p{
  font-size: 20px
}
table{
  font-size: 20px
}
